/* typography.css */

/* Pretendard 폰트 정의 */
/* Pretendard 폰트 정의 */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../assets/fonts/Pretendard-Regular.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../assets/fonts/Pretendard-Medium.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../../assets/fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../assets/fonts/Pretendard-Bold.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../../assets/fonts/Pretendard-ExtraBold.subset.woff2') format('woff2');
  }
  
  
  /* 전체 글꼴 기본값 설정 */
  body {
    font-family: 'Pretendard', Arial, sans-serif;
  }
  
  

html {
    font-size: 16px; /* 기본 폰트 크기: Desktop 기준 */
  
    /* 반응형 */
    @media (max-width: 1024px) {
      font-size: 15px; /* Tablet */
    }
  
    @media (max-width: 768px) {
      font-size: 14px; /* Small Screen */
    }
  
    @media (max-width: 480px) {
      font-size: 13px; /* Mobile */
    }
  }
  
  /* Text Styles */
  
  /* Page Title */
  .page-title {
    font-size: clamp(1.5rem, 2vw, 1.75rem); /* 최소 24px, 최대 28px */
    font-weight: 600; /* SemiBold */
    line-height: 1.46;
    letter-spacing: 0.02em;
  }
  
  /* Pop Up Title */
  .pop-up-title {
    font-size: clamp(1.125rem, 1.5vw, 1.25rem); /* 최소 18px, 최대 20px */
    font-weight: 600;
    line-height: 1.46;
    letter-spacing: 0.02em;
  }
  
  /* Page Description */
  .page-description {
    font-size: clamp(1rem, 1.5vw, 1.25rem); /* 최소 16px, 최대 20px */
    font-weight: 500; /* Medium */
    line-height: 1.46;
    letter-spacing: 0.02em;
  }
  
  
  /* Button Label */
  .button-label {
    font-size: 1rem; /* 16px */
    font-weight: 600; /* SemiBold */
    line-height: 1.46;
    letter-spacing: 0.02em;
  }
  
  .button-label-light {
    font-size: 1rem; /* 16px */
    font-weight: 500; /* Medium */
    line-height: 1.46;
    letter-spacing: 0.02em;
  }
  
  /* Body Text */
  .body-text {
    font-size: 0.875rem; /* 14px */
    font-weight: 500; /* Medium */
    line-height: 1.46;
    letter-spacing: 0.02em;
  }
  
  /* Input Field Label */
  .input-field-label {
    font-size: 0.8125rem; /* 13px */
    font-weight: 400; /* Regular */
    line-height: 1.46;
    letter-spacing: 0.02em;
  }
  