.text-field{

}
.text-filed-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 15rem;
  margin-left:0.5rem;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: white;
}

  .text-field-img{
    width:1.5rem; height: 1.5rem; border-radius: 10px;
    margin-inline: 0.2rem;
  }
  
  .text-field-input {
    font-size: 1rem;
    border:none;
    background-color: transparent;
  }
  .text-field-input::placeholder{
    font-size:0.8rem;
    color:#a6a6a6;
  }
  
  .text-field-input:focus {
    outline: none;
  }
  