
body{
  background-color: var(--main-bg);
}

/* 전체 페이지 스크롤바 */
::-webkit-scrollbar {
  width: 0.5rem; /* 세로 스크롤바 두께 */
  height: 0.5rem; /* 가로 스크롤바 두께 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5rem;
}

/* 스크롤바 슬라이더 */
::-webkit-scrollbar-thumb {
  background: #D9DCDF;
  border-radius: 10px;
}

/* 스크롤바 슬라이더 호버 상태 */
::-webkit-scrollbar-thumb:hover {
  background: #bdc0c3;
}