.tag-card{
    user-select: none;
    padding:3px;
    background-color: #ededed;
    border: none;
    border-radius: 8px;
}
.tag-card span{
    padding-left: 3px;
}
.remove-btn{
    cursor: pointer;
    background: transparent;
    border: none;
}